img.emoji {
  height: 1.2em;
  width: 1.2em;
  margin: 0.05em 0.1em;
  vertical-align: -0.1em;
  border: none;
}

img.emoji-large {
  height: 4em;
  width: 4em;
}

#emojipleter {
  position: absolute;
  z-index: 100;
  background: url(../../ui/denim075.png) repeat;
  padding: 0;
  border-radius: 0.5em;
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 500px;
}

#emojipleter .emojipleter-emojilist {
  list-style-type: none;
  padding: 0;
  color: #ccc;
  display: flex;
  flex-flow: column-reverse nowrap;
}

#emojipleter .emojipleter-emoji {
  padding: 0.5em 0.25em;
  border-radius: 0.5em;
  display: flex;
  align-items: center;
}

#emojipleter span {
  white-space: nowrap;
}

#emojipleter .emojipleter-emoji.selected{
  background: #333;
}

#emojipleter img.emoji {
  margin-right: 0.5em;
  width: 1.5em;
  height: 1.5em;
}

.emojule-custom-emoji-list {
  list-style: none;
  background: rgba(0,0,0,0.05);
  padding: 0.5em 0;
  border-radius: 0.5em;
  border: 2px inset #6663;
  margin: 0;
}

.emojule-code:before, .emojule-code:after{
  content: ":"
}

.emojule-code {
  width: 100%;
  min-width: 10ch;
  margin-right: 1em;
  padding: 0 0.5ch;
}

.emojule-code:hover { 
  outline: 1px solid #ddd;
}

.emojule-code:focus {
  outline: 1px solid #333;
}

.emojule-placeholder {
  opacity: 0.6;
}

.emojule-custom-emoji {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  /* height: 1.8em; */
  padding: 0.5em 0.5em;
}

.emojule-custom-emoji:hover {
  background: rgba(0,0,0,0.1);
}

.emojule-select-image {
  padding-right: 1em;
}

.emojule-add-new-custom-emoji {
  border-top: 1px dashed #666;
  margin: 0 0.5em;
  text-align: right;
  padding-top: 0.2em;
}

.emojule nav {

  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
  margin: 0 0 6px 0;

  background: rgba(0, 0, 0, 0.05);
  padding: 6px;
}